button#add-pizza {
  margin-top:20px;
  margin-bottom:20px;
}

#clear-button {
  display: none;
}

ul#pizzas{
  list-style-image: url('../img/favicon.jpg');
}

span#total {
  color: #dc3545;
  font-size: 70px;
}